<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>trunic_0</string>
      <string>trunic_1</string>
      <string>trunic_2</string>
      <string>trunic_3</string>
      <string>trunic_4</string>
      <string>trunic_5</string>
      <string>trunic_6</string>
      <string>trunic_7</string>
      <string>trunic_8</string>
      <string>trunic_9</string>
      <string>trunic_a</string>
      <string>trunic_b</string>
      <string>trunic_c</string>
      <string>trunic_d</string>
      <string>trunic_e</string>
      <string>trunic_f</string>
      <string>trunic_10</string>
      <string>trunic_11</string>
      <string>trunic_12</string>
      <string>trunic_13</string>
      <string>trunic_14</string>
      <string>trunic_15</string>
      <string>trunic_16</string>
      <string>trunic_17</string>
      <string>trunic_18</string>
      <string>trunic_19</string>
      <string>trunic_1a</string>
      <string>trunic_1b</string>
      <string>trunic_1c</string>
      <string>trunic_1d</string>
      <string>trunic_1e</string>
      <string>trunic_1f</string>
      <string>trunic_20</string>
      <string>trunic_21</string>
      <string>trunic_22</string>
      <string>trunic_23</string>
      <string>trunic_24</string>
      <string>trunic_25</string>
      <string>trunic_26</string>
      <string>trunic_27</string>
      <string>trunic_28</string>
      <string>trunic_29</string>
      <string>trunic_2a</string>
      <string>trunic_2b</string>
      <string>trunic_2c</string>
      <string>trunic_2d</string>
      <string>trunic_2e</string>
      <string>trunic_2f</string>
      <string>trunic_30</string>
      <string>trunic_31</string>
      <string>trunic_32</string>
      <string>trunic_33</string>
      <string>trunic_34</string>
      <string>trunic_35</string>
      <string>trunic_36</string>
      <string>trunic_37</string>
      <string>trunic_38</string>
      <string>trunic_39</string>
      <string>trunic_3a</string>
      <string>trunic_3b</string>
      <string>trunic_3c</string>
      <string>trunic_3d</string>
      <string>trunic_3e</string>
      <string>trunic_3f</string>
      <string>trunic_40</string>
      <string>trunic_41</string>
      <string>trunic_42</string>
      <string>trunic_43</string>
      <string>trunic_44</string>
      <string>trunic_45</string>
      <string>trunic_46</string>
      <string>trunic_47</string>
      <string>trunic_48</string>
      <string>trunic_49</string>
      <string>trunic_4a</string>
      <string>trunic_4b</string>
      <string>trunic_4c</string>
      <string>trunic_4d</string>
      <string>trunic_4e</string>
      <string>trunic_4f</string>
      <string>trunic_50</string>
      <string>trunic_51</string>
      <string>trunic_52</string>
      <string>trunic_53</string>
      <string>trunic_54</string>
      <string>trunic_55</string>
      <string>trunic_56</string>
      <string>trunic_57</string>
      <string>trunic_58</string>
      <string>trunic_59</string>
      <string>trunic_5a</string>
      <string>trunic_5b</string>
      <string>trunic_5c</string>
      <string>trunic_5d</string>
      <string>trunic_5e</string>
      <string>trunic_5f</string>
      <string>trunic_60</string>
      <string>trunic_61</string>
      <string>trunic_62</string>
      <string>trunic_63</string>
      <string>trunic_64</string>
      <string>trunic_65</string>
      <string>trunic_66</string>
      <string>trunic_67</string>
      <string>trunic_68</string>
      <string>trunic_69</string>
      <string>trunic_6a</string>
      <string>trunic_6b</string>
      <string>trunic_6c</string>
      <string>trunic_6d</string>
      <string>trunic_6e</string>
      <string>trunic_6f</string>
      <string>trunic_70</string>
      <string>trunic_71</string>
      <string>trunic_72</string>
      <string>trunic_73</string>
      <string>trunic_74</string>
      <string>trunic_75</string>
      <string>trunic_76</string>
      <string>trunic_77</string>
      <string>trunic_78</string>
      <string>trunic_79</string>
      <string>trunic_7a</string>
      <string>trunic_7b</string>
      <string>trunic_7c</string>
      <string>trunic_7d</string>
      <string>trunic_7e</string>
      <string>trunic_7f</string>
      <string>trunic_80</string>
      <string>trunic_81</string>
      <string>trunic_82</string>
      <string>trunic_83</string>
      <string>trunic_84</string>
      <string>trunic_85</string>
      <string>trunic_86</string>
      <string>trunic_87</string>
      <string>trunic_88</string>
      <string>trunic_89</string>
      <string>trunic_8a</string>
      <string>trunic_8b</string>
      <string>trunic_8c</string>
      <string>trunic_8d</string>
      <string>trunic_8e</string>
      <string>trunic_8f</string>
      <string>trunic_90</string>
      <string>trunic_91</string>
      <string>trunic_92</string>
      <string>trunic_93</string>
      <string>trunic_94</string>
      <string>trunic_95</string>
      <string>trunic_96</string>
      <string>trunic_97</string>
      <string>trunic_98</string>
      <string>trunic_99</string>
      <string>trunic_9a</string>
      <string>trunic_9b</string>
      <string>trunic_9c</string>
      <string>trunic_9d</string>
      <string>trunic_9e</string>
      <string>trunic_9f</string>
      <string>trunic_a0</string>
      <string>trunic_a1</string>
      <string>trunic_a2</string>
      <string>trunic_a3</string>
      <string>trunic_a4</string>
      <string>trunic_a5</string>
      <string>trunic_a6</string>
      <string>trunic_a7</string>
      <string>trunic_a8</string>
      <string>trunic_a9</string>
      <string>trunic_aa</string>
      <string>trunic_ab</string>
      <string>trunic_ac</string>
      <string>trunic_ad</string>
      <string>trunic_ae</string>
      <string>trunic_af</string>
      <string>trunic_b0</string>
      <string>trunic_b1</string>
      <string>trunic_b2</string>
      <string>trunic_b3</string>
      <string>trunic_b4</string>
      <string>trunic_b5</string>
      <string>trunic_b6</string>
      <string>trunic_b7</string>
      <string>trunic_b8</string>
      <string>trunic_b9</string>
      <string>trunic_ba</string>
      <string>trunic_bb</string>
      <string>trunic_bc</string>
      <string>trunic_bd</string>
      <string>trunic_be</string>
      <string>trunic_bf</string>
      <string>trunic_c0</string>
      <string>trunic_c1</string>
      <string>trunic_c2</string>
      <string>trunic_c3</string>
      <string>trunic_c4</string>
      <string>trunic_c5</string>
      <string>trunic_c6</string>
      <string>trunic_c7</string>
      <string>trunic_c8</string>
      <string>trunic_c9</string>
      <string>trunic_ca</string>
      <string>trunic_cb</string>
      <string>trunic_cc</string>
      <string>trunic_cd</string>
      <string>trunic_ce</string>
      <string>trunic_cf</string>
      <string>trunic_d0</string>
      <string>trunic_d1</string>
      <string>trunic_d2</string>
      <string>trunic_d3</string>
      <string>trunic_d4</string>
      <string>trunic_d5</string>
      <string>trunic_d6</string>
      <string>trunic_d7</string>
      <string>trunic_d8</string>
      <string>trunic_d9</string>
      <string>trunic_da</string>
      <string>trunic_db</string>
      <string>trunic_dc</string>
      <string>trunic_dd</string>
      <string>trunic_de</string>
      <string>trunic_df</string>
      <string>trunic_e0</string>
      <string>trunic_e1</string>
      <string>trunic_e2</string>
      <string>trunic_e3</string>
      <string>trunic_e4</string>
      <string>trunic_e5</string>
      <string>trunic_e6</string>
      <string>trunic_e7</string>
      <string>trunic_e8</string>
      <string>trunic_e9</string>
      <string>trunic_ea</string>
      <string>trunic_eb</string>
      <string>trunic_ec</string>
      <string>trunic_ed</string>
      <string>trunic_ee</string>
      <string>trunic_ef</string>
      <string>trunic_f0</string>
      <string>trunic_f1</string>
      <string>trunic_f2</string>
      <string>trunic_f3</string>
      <string>trunic_f4</string>
      <string>trunic_f5</string>
      <string>trunic_f6</string>
      <string>trunic_f7</string>
      <string>trunic_f8</string>
      <string>trunic_f9</string>
      <string>trunic_fa</string>
      <string>trunic_fb</string>
      <string>trunic_fc</string>
      <string>trunic_fd</string>
      <string>trunic_fe</string>
      <string>trunic_ff</string>
      <string>trunic_100</string>
      <string>trunic_101</string>
      <string>trunic_102</string>
      <string>trunic_103</string>
      <string>trunic_104</string>
      <string>trunic_105</string>
      <string>trunic_106</string>
      <string>trunic_107</string>
      <string>trunic_108</string>
      <string>trunic_109</string>
      <string>trunic_10a</string>
      <string>trunic_10b</string>
      <string>trunic_10c</string>
      <string>trunic_10d</string>
      <string>trunic_10e</string>
      <string>trunic_10f</string>
      <string>trunic_110</string>
      <string>trunic_111</string>
      <string>trunic_112</string>
      <string>trunic_113</string>
      <string>trunic_114</string>
      <string>trunic_115</string>
      <string>trunic_116</string>
      <string>trunic_117</string>
      <string>trunic_118</string>
      <string>trunic_119</string>
      <string>trunic_11a</string>
      <string>trunic_11b</string>
      <string>trunic_11c</string>
      <string>trunic_11d</string>
      <string>trunic_11e</string>
      <string>trunic_11f</string>
      <string>trunic_120</string>
      <string>trunic_121</string>
      <string>trunic_122</string>
      <string>trunic_123</string>
      <string>trunic_124</string>
      <string>trunic_125</string>
      <string>trunic_126</string>
      <string>trunic_127</string>
      <string>trunic_128</string>
      <string>trunic_129</string>
      <string>trunic_12a</string>
      <string>trunic_12b</string>
      <string>trunic_12c</string>
      <string>trunic_12d</string>
      <string>trunic_12e</string>
      <string>trunic_12f</string>
      <string>trunic_130</string>
      <string>trunic_131</string>
      <string>trunic_132</string>
      <string>trunic_133</string>
      <string>trunic_134</string>
      <string>trunic_135</string>
      <string>trunic_136</string>
      <string>trunic_137</string>
      <string>trunic_138</string>
      <string>trunic_139</string>
      <string>trunic_13a</string>
      <string>trunic_13b</string>
      <string>trunic_13c</string>
      <string>trunic_13d</string>
      <string>trunic_13e</string>
      <string>trunic_13f</string>
      <string>trunic_140</string>
      <string>trunic_141</string>
      <string>trunic_142</string>
      <string>trunic_143</string>
      <string>trunic_144</string>
      <string>trunic_145</string>
      <string>trunic_146</string>
      <string>trunic_147</string>
      <string>trunic_148</string>
      <string>trunic_149</string>
      <string>trunic_14a</string>
      <string>trunic_14b</string>
      <string>trunic_14c</string>
      <string>trunic_14d</string>
      <string>trunic_14e</string>
      <string>trunic_14f</string>
      <string>trunic_150</string>
      <string>trunic_151</string>
      <string>trunic_152</string>
      <string>trunic_153</string>
      <string>trunic_154</string>
      <string>trunic_155</string>
      <string>trunic_156</string>
      <string>trunic_157</string>
      <string>trunic_158</string>
      <string>trunic_159</string>
      <string>trunic_15a</string>
      <string>trunic_15b</string>
      <string>trunic_15c</string>
      <string>trunic_15d</string>
      <string>trunic_15e</string>
      <string>trunic_15f</string>
      <string>trunic_160</string>
      <string>trunic_161</string>
      <string>trunic_162</string>
      <string>trunic_163</string>
      <string>trunic_164</string>
      <string>trunic_165</string>
      <string>trunic_166</string>
      <string>trunic_167</string>
      <string>trunic_168</string>
      <string>trunic_169</string>
      <string>trunic_16a</string>
      <string>trunic_16b</string>
      <string>trunic_16c</string>
      <string>trunic_16d</string>
      <string>trunic_16e</string>
      <string>trunic_16f</string>
      <string>trunic_170</string>
      <string>trunic_171</string>
      <string>trunic_172</string>
      <string>trunic_173</string>
      <string>trunic_174</string>
      <string>trunic_175</string>
      <string>trunic_176</string>
      <string>trunic_177</string>
      <string>trunic_178</string>
      <string>trunic_179</string>
      <string>trunic_17a</string>
      <string>trunic_17b</string>
      <string>trunic_17c</string>
      <string>trunic_17d</string>
      <string>trunic_17e</string>
      <string>trunic_17f</string>
      <string>trunic_180</string>
      <string>trunic_181</string>
      <string>trunic_182</string>
      <string>trunic_183</string>
      <string>trunic_184</string>
      <string>trunic_185</string>
      <string>trunic_186</string>
      <string>trunic_187</string>
      <string>trunic_188</string>
      <string>trunic_189</string>
      <string>trunic_18a</string>
      <string>trunic_18b</string>
      <string>trunic_18c</string>
      <string>trunic_18d</string>
      <string>trunic_18e</string>
      <string>trunic_18f</string>
      <string>trunic_190</string>
      <string>trunic_191</string>
      <string>trunic_192</string>
      <string>trunic_193</string>
      <string>trunic_194</string>
      <string>trunic_195</string>
      <string>trunic_196</string>
      <string>trunic_197</string>
      <string>trunic_198</string>
      <string>trunic_199</string>
      <string>trunic_19a</string>
      <string>trunic_19b</string>
      <string>trunic_19c</string>
      <string>trunic_19d</string>
      <string>trunic_19e</string>
      <string>trunic_19f</string>
      <string>trunic_1a0</string>
      <string>trunic_1a1</string>
      <string>trunic_1a2</string>
      <string>trunic_1a3</string>
      <string>trunic_1a4</string>
      <string>trunic_1a5</string>
      <string>trunic_1a6</string>
      <string>trunic_1a7</string>
      <string>trunic_1a8</string>
      <string>trunic_1a9</string>
      <string>trunic_1aa</string>
      <string>trunic_1ab</string>
      <string>trunic_1ac</string>
      <string>trunic_1ad</string>
      <string>trunic_1ae</string>
      <string>trunic_1af</string>
      <string>trunic_1b0</string>
      <string>trunic_1b1</string>
      <string>trunic_1b2</string>
      <string>trunic_1b3</string>
      <string>trunic_1b4</string>
      <string>trunic_1b5</string>
      <string>trunic_1b6</string>
      <string>trunic_1b7</string>
      <string>trunic_1b8</string>
      <string>trunic_1b9</string>
      <string>trunic_1ba</string>
      <string>trunic_1bb</string>
      <string>trunic_1bc</string>
      <string>trunic_1bd</string>
      <string>trunic_1be</string>
      <string>trunic_1bf</string>
      <string>trunic_1c0</string>
      <string>trunic_1c1</string>
      <string>trunic_1c2</string>
      <string>trunic_1c3</string>
      <string>trunic_1c4</string>
      <string>trunic_1c5</string>
      <string>trunic_1c6</string>
      <string>trunic_1c7</string>
      <string>trunic_1c8</string>
      <string>trunic_1c9</string>
      <string>trunic_1ca</string>
      <string>trunic_1cb</string>
      <string>trunic_1cc</string>
      <string>trunic_1cd</string>
      <string>trunic_1ce</string>
      <string>trunic_1cf</string>
      <string>trunic_1d0</string>
      <string>trunic_1d1</string>
      <string>trunic_1d2</string>
      <string>trunic_1d3</string>
      <string>trunic_1d4</string>
      <string>trunic_1d5</string>
      <string>trunic_1d6</string>
      <string>trunic_1d7</string>
      <string>trunic_1d8</string>
      <string>trunic_1d9</string>
      <string>trunic_1da</string>
      <string>trunic_1db</string>
      <string>trunic_1dc</string>
      <string>trunic_1dd</string>
      <string>trunic_1de</string>
      <string>trunic_1df</string>
      <string>trunic_1e0</string>
      <string>trunic_1e1</string>
      <string>trunic_1e2</string>
      <string>trunic_1e3</string>
      <string>trunic_1e4</string>
      <string>trunic_1e5</string>
      <string>trunic_1e6</string>
      <string>trunic_1e7</string>
      <string>trunic_1e8</string>
      <string>trunic_1e9</string>
      <string>trunic_1ea</string>
      <string>trunic_1eb</string>
      <string>trunic_1ec</string>
      <string>trunic_1ed</string>
      <string>trunic_1ee</string>
      <string>trunic_1ef</string>
      <string>trunic_1f0</string>
      <string>trunic_1f1</string>
      <string>trunic_1f2</string>
      <string>trunic_1f3</string>
      <string>trunic_1f4</string>
      <string>trunic_1f5</string>
      <string>trunic_1f6</string>
      <string>trunic_1f7</string>
      <string>trunic_1f8</string>
      <string>trunic_1f9</string>
      <string>trunic_1fa</string>
      <string>trunic_1fb</string>
      <string>trunic_1fc</string>
      <string>trunic_1fd</string>
      <string>trunic_1fe</string>
      <string>trunic_1ff</string>
      <string>trunic_200</string>
      <string>trunic_201</string>
      <string>trunic_202</string>
      <string>trunic_203</string>
      <string>trunic_204</string>
      <string>trunic_205</string>
      <string>trunic_206</string>
      <string>trunic_207</string>
      <string>trunic_208</string>
      <string>trunic_209</string>
      <string>trunic_20a</string>
      <string>trunic_20b</string>
      <string>trunic_20c</string>
      <string>trunic_20d</string>
      <string>trunic_20e</string>
      <string>trunic_20f</string>
      <string>trunic_210</string>
      <string>trunic_211</string>
      <string>trunic_212</string>
      <string>trunic_213</string>
      <string>trunic_214</string>
      <string>trunic_215</string>
      <string>trunic_216</string>
      <string>trunic_217</string>
      <string>trunic_218</string>
      <string>trunic_219</string>
      <string>trunic_21a</string>
      <string>trunic_21b</string>
      <string>trunic_21c</string>
      <string>trunic_21d</string>
      <string>trunic_21e</string>
      <string>trunic_21f</string>
      <string>trunic_220</string>
      <string>trunic_221</string>
      <string>trunic_222</string>
      <string>trunic_223</string>
      <string>trunic_224</string>
      <string>trunic_225</string>
      <string>trunic_226</string>
      <string>trunic_227</string>
      <string>trunic_228</string>
      <string>trunic_229</string>
      <string>trunic_22a</string>
      <string>trunic_22b</string>
      <string>trunic_22c</string>
      <string>trunic_22d</string>
      <string>trunic_22e</string>
      <string>trunic_22f</string>
      <string>trunic_230</string>
      <string>trunic_231</string>
      <string>trunic_232</string>
      <string>trunic_233</string>
      <string>trunic_234</string>
      <string>trunic_235</string>
      <string>trunic_236</string>
      <string>trunic_237</string>
      <string>trunic_238</string>
      <string>trunic_239</string>
      <string>trunic_23a</string>
      <string>trunic_23b</string>
      <string>trunic_23c</string>
      <string>trunic_23d</string>
      <string>trunic_23e</string>
      <string>trunic_23f</string>
      <string>trunic_240</string>
      <string>trunic_241</string>
      <string>trunic_242</string>
      <string>trunic_243</string>
      <string>trunic_244</string>
      <string>trunic_245</string>
      <string>trunic_246</string>
      <string>trunic_247</string>
      <string>trunic_248</string>
      <string>trunic_249</string>
      <string>trunic_24a</string>
      <string>trunic_24b</string>
      <string>trunic_24c</string>
      <string>trunic_24d</string>
      <string>trunic_24e</string>
      <string>trunic_24f</string>
      <string>trunic_250</string>
      <string>trunic_251</string>
      <string>trunic_252</string>
      <string>trunic_253</string>
      <string>trunic_254</string>
      <string>trunic_255</string>
      <string>trunic_256</string>
      <string>trunic_257</string>
      <string>trunic_258</string>
      <string>trunic_259</string>
      <string>trunic_25a</string>
      <string>trunic_25b</string>
      <string>trunic_25c</string>
      <string>trunic_25d</string>
      <string>trunic_25e</string>
      <string>trunic_25f</string>
      <string>trunic_260</string>
      <string>trunic_261</string>
      <string>trunic_262</string>
      <string>trunic_263</string>
      <string>trunic_264</string>
      <string>trunic_265</string>
      <string>trunic_266</string>
      <string>trunic_267</string>
      <string>trunic_268</string>
      <string>trunic_269</string>
      <string>trunic_26a</string>
      <string>trunic_26b</string>
      <string>trunic_26c</string>
      <string>trunic_26d</string>
      <string>trunic_26e</string>
      <string>trunic_26f</string>
      <string>trunic_270</string>
      <string>trunic_271</string>
      <string>trunic_272</string>
      <string>trunic_273</string>
      <string>trunic_274</string>
      <string>trunic_275</string>
      <string>trunic_276</string>
      <string>trunic_277</string>
      <string>trunic_278</string>
      <string>trunic_279</string>
      <string>trunic_27a</string>
      <string>trunic_27b</string>
      <string>trunic_27c</string>
      <string>trunic_27d</string>
      <string>trunic_27e</string>
      <string>trunic_27f</string>
      <string>trunic_280</string>
      <string>trunic_281</string>
      <string>trunic_282</string>
      <string>trunic_283</string>
      <string>trunic_284</string>
      <string>trunic_285</string>
      <string>trunic_286</string>
      <string>trunic_287</string>
      <string>trunic_288</string>
      <string>trunic_289</string>
      <string>trunic_28a</string>
      <string>trunic_28b</string>
      <string>trunic_28c</string>
      <string>trunic_28d</string>
      <string>trunic_28e</string>
      <string>trunic_28f</string>
      <string>trunic_290</string>
      <string>trunic_291</string>
      <string>trunic_292</string>
      <string>trunic_293</string>
      <string>trunic_294</string>
      <string>trunic_295</string>
      <string>trunic_296</string>
      <string>trunic_297</string>
      <string>trunic_298</string>
      <string>trunic_299</string>
      <string>trunic_29a</string>
      <string>trunic_29b</string>
      <string>trunic_29c</string>
      <string>trunic_29d</string>
      <string>trunic_29e</string>
      <string>trunic_29f</string>
      <string>trunic_2a0</string>
      <string>trunic_2a1</string>
      <string>trunic_2a2</string>
      <string>trunic_2a3</string>
      <string>trunic_2a4</string>
      <string>trunic_2a5</string>
      <string>trunic_2a6</string>
      <string>trunic_2a7</string>
      <string>trunic_2a8</string>
      <string>trunic_2a9</string>
      <string>trunic_2aa</string>
      <string>trunic_2ab</string>
      <string>trunic_2ac</string>
      <string>trunic_2ad</string>
      <string>trunic_2ae</string>
      <string>trunic_2af</string>
      <string>trunic_2b0</string>
      <string>trunic_2b1</string>
      <string>trunic_2b2</string>
      <string>trunic_2b3</string>
      <string>trunic_2b4</string>
      <string>trunic_2b5</string>
      <string>trunic_2b6</string>
      <string>trunic_2b7</string>
      <string>trunic_2b8</string>
      <string>trunic_2b9</string>
      <string>trunic_2ba</string>
      <string>trunic_2bb</string>
      <string>trunic_2bc</string>
      <string>trunic_2bd</string>
      <string>trunic_2be</string>
      <string>trunic_2bf</string>
      <string>trunic_2c0</string>
      <string>trunic_2c1</string>
      <string>trunic_2c2</string>
      <string>trunic_2c3</string>
      <string>trunic_2c4</string>
      <string>trunic_2c5</string>
      <string>trunic_2c6</string>
      <string>trunic_2c7</string>
      <string>trunic_2c8</string>
      <string>trunic_2c9</string>
      <string>trunic_2ca</string>
      <string>trunic_2cb</string>
      <string>trunic_2cc</string>
      <string>trunic_2cd</string>
      <string>trunic_2ce</string>
      <string>trunic_2cf</string>
      <string>trunic_2d0</string>
      <string>trunic_2d1</string>
      <string>trunic_2d2</string>
      <string>trunic_2d3</string>
      <string>trunic_2d4</string>
      <string>trunic_2d5</string>
      <string>trunic_2d6</string>
      <string>trunic_2d7</string>
      <string>trunic_2d8</string>
      <string>trunic_2d9</string>
      <string>trunic_2da</string>
      <string>trunic_2db</string>
      <string>trunic_2dc</string>
      <string>trunic_2dd</string>
      <string>trunic_2de</string>
      <string>trunic_2df</string>
      <string>trunic_2e0</string>
      <string>trunic_2e1</string>
      <string>trunic_2e2</string>
      <string>trunic_2e3</string>
      <string>trunic_2e4</string>
      <string>trunic_2e5</string>
      <string>trunic_2e6</string>
      <string>trunic_2e7</string>
      <string>trunic_2e8</string>
      <string>trunic_2e9</string>
      <string>trunic_2ea</string>
      <string>trunic_2eb</string>
      <string>trunic_2ec</string>
      <string>trunic_2ed</string>
      <string>trunic_2ee</string>
      <string>trunic_2ef</string>
      <string>trunic_2f0</string>
      <string>trunic_2f1</string>
      <string>trunic_2f2</string>
      <string>trunic_2f3</string>
      <string>trunic_2f4</string>
      <string>trunic_2f5</string>
      <string>trunic_2f6</string>
      <string>trunic_2f7</string>
      <string>trunic_2f8</string>
      <string>trunic_2f9</string>
      <string>trunic_2fa</string>
      <string>trunic_2fb</string>
      <string>trunic_2fc</string>
      <string>trunic_2fd</string>
      <string>trunic_2fe</string>
      <string>trunic_2ff</string>
      <string>trunic_300</string>
      <string>trunic_301</string>
      <string>trunic_302</string>
      <string>trunic_303</string>
      <string>trunic_304</string>
      <string>trunic_305</string>
      <string>trunic_306</string>
      <string>trunic_307</string>
      <string>trunic_308</string>
      <string>trunic_309</string>
      <string>trunic_30a</string>
      <string>trunic_30b</string>
      <string>trunic_30c</string>
      <string>trunic_30d</string>
      <string>trunic_30e</string>
      <string>trunic_30f</string>
      <string>trunic_310</string>
      <string>trunic_311</string>
      <string>trunic_312</string>
      <string>trunic_313</string>
      <string>trunic_314</string>
      <string>trunic_315</string>
      <string>trunic_316</string>
      <string>trunic_317</string>
      <string>trunic_318</string>
      <string>trunic_319</string>
      <string>trunic_31a</string>
      <string>trunic_31b</string>
      <string>trunic_31c</string>
      <string>trunic_31d</string>
      <string>trunic_31e</string>
      <string>trunic_31f</string>
      <string>trunic_320</string>
      <string>trunic_321</string>
      <string>trunic_322</string>
      <string>trunic_323</string>
      <string>trunic_324</string>
      <string>trunic_325</string>
      <string>trunic_326</string>
      <string>trunic_327</string>
      <string>trunic_328</string>
      <string>trunic_329</string>
      <string>trunic_32a</string>
      <string>trunic_32b</string>
      <string>trunic_32c</string>
      <string>trunic_32d</string>
      <string>trunic_32e</string>
      <string>trunic_32f</string>
      <string>trunic_330</string>
      <string>trunic_331</string>
      <string>trunic_332</string>
      <string>trunic_333</string>
      <string>trunic_334</string>
      <string>trunic_335</string>
      <string>trunic_336</string>
      <string>trunic_337</string>
      <string>trunic_338</string>
      <string>trunic_339</string>
      <string>trunic_33a</string>
      <string>trunic_33b</string>
      <string>trunic_33c</string>
      <string>trunic_33d</string>
      <string>trunic_33e</string>
      <string>trunic_33f</string>
      <string>trunic_340</string>
      <string>trunic_341</string>
      <string>trunic_342</string>
      <string>trunic_343</string>
      <string>trunic_344</string>
      <string>trunic_345</string>
      <string>trunic_346</string>
      <string>trunic_347</string>
      <string>trunic_348</string>
      <string>trunic_349</string>
      <string>trunic_34a</string>
      <string>trunic_34b</string>
      <string>trunic_34c</string>
      <string>trunic_34d</string>
      <string>trunic_34e</string>
      <string>trunic_34f</string>
      <string>trunic_350</string>
      <string>trunic_351</string>
      <string>trunic_352</string>
      <string>trunic_353</string>
      <string>trunic_354</string>
      <string>trunic_355</string>
      <string>trunic_356</string>
      <string>trunic_357</string>
      <string>trunic_358</string>
      <string>trunic_359</string>
      <string>trunic_35a</string>
      <string>trunic_35b</string>
      <string>trunic_35c</string>
      <string>trunic_35d</string>
      <string>trunic_35e</string>
      <string>trunic_35f</string>
      <string>trunic_360</string>
      <string>trunic_361</string>
      <string>trunic_362</string>
      <string>trunic_363</string>
      <string>trunic_364</string>
      <string>trunic_365</string>
      <string>trunic_366</string>
      <string>trunic_367</string>
      <string>trunic_368</string>
      <string>trunic_369</string>
      <string>trunic_36a</string>
      <string>trunic_36b</string>
      <string>trunic_36c</string>
      <string>trunic_36d</string>
      <string>trunic_36e</string>
      <string>trunic_36f</string>
      <string>trunic_370</string>
      <string>trunic_371</string>
      <string>trunic_372</string>
      <string>trunic_373</string>
      <string>trunic_374</string>
      <string>trunic_375</string>
      <string>trunic_376</string>
      <string>trunic_377</string>
      <string>trunic_378</string>
      <string>trunic_379</string>
      <string>trunic_37a</string>
      <string>trunic_37b</string>
      <string>trunic_37c</string>
      <string>trunic_37d</string>
      <string>trunic_37e</string>
      <string>trunic_37f</string>
      <string>trunic_380</string>
      <string>trunic_381</string>
      <string>trunic_382</string>
      <string>trunic_383</string>
      <string>trunic_384</string>
      <string>trunic_385</string>
    </array>
  </dict>
</plist>
